# App Config
APP_NAME=sakti_apps_be
APP_ENV=local
APP_PORT=8080

# Database
DATABASE_URL=postgresql://postgres:password@localhost/mydb

# Supabase Fallback
SUPABASE_URL=your-project-url
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_KEY=your-service-key

# JWKS
SUPABASE_JWT_URL=https://your-project-url.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_JWT_X=
SUPABASE_JWT_Y=

# Office
OFFICE_LAT=
OFFICE_LON=
OFFICE_RADIUS=500

# Cloudinary URL
CLOUDINARY_URL=cloudinary://your-api-key:your-api-secret@your-cloud-name

# Cloudinary Komponen
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_UPLOAD_FOLDER=your-upload-folder

# Telegram
TELEGRAM_BOT_TOKEN=your-bot-token

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:54323

# FACE SERVICE
FACE_SERVICE_URL=http://localhost:5002

# Frontend URL
FRONTEND_URL=http://localhost:3000